<%= simple_form_for(@property, html: {class: 'form-horizontal' }) do |f| %>

 <div class="panel">
	<%= f.input :postCode, label: "Post Code of the property ", placeholder: ":)", input_html: {class: 'form-control'}, required: false %>
  	<%= f.input :phone_nr, label: "Phone Number ", placeholder: ":)", input_html: {class: 'form-control'}, required: false %>

   <%= f.input :propertyRent, label: "Rent amount / month ", placeholder: ":)", input_html: {class: 'form-control'}, required: false %>
  	<%= f.input :propertyCost, label: "Cost of the Property ", placeholder: ":)", input_html: {class: 'form-control'}, required: false %>

    <%= f.button :submit, "Taking home?" %>

  </div>

<% end %>