

<% @data.map do |i| %>
    <div class="panel callout radius">

      <% if i['price_type'] == "weekly" %>
          <% year_return = (i['price'] * 4) * 12 %>
      <% else %>
          <% year_return = i['price'] * 12 %>
      <% end %>
      <div class="other-yield">
        <h5>Return/Year: <%= number_to_currency(year_return, unit: '£') %></h5>
        <h5>Return/Year (Percent):<%=(@property.year_return_percent).round(2)%>%</h5>
      <table class="table table-bordered">
        <tbody>

        <tr>
          <th>Bedrooms:</th>
          <td><%= i['bedroom_number'] %></td>
        </tr>
        <tr>
          <th>Description:</th>
          <td> <%= i['title'] %></td>
        </tr>
        <tr>
          <th>Rent:</th>
          <td><%= i['price_formatted'] %></td>
        </tr>

        </tbody>

      </table>


        </div>
      </div>
    </div>
<% end %>
