<div class="row">

  <div class="panel">
    
    <h3>Property summary</h3>
    <h5>Return/Year <span> <%= number_to_currency(@property.year_return, { unit: "£"}) %></span> or <span> <%=(@property.year_return_percent).round(2)%>%</span></h5>
    
  </div>

</div>

<div class="row">

  <div class="panel callout radius">

        <%= link_to 'Edit', edit_property_path(@property) , class: 'button alert'%>
    <%= link_to other_properties_path, remote: true do  %>
        <button type="button" class="btn btn-lg">Compare</button>
    <% end %>

  	<table class="table table-bordered">
      <tbody>

      <tr>
        <th>Post Code</th>
        <td><%=@property.postCode%></td>
      </tr>
      <tr>
        <th>Property Cost</th>
        <td><%=number_to_currency(@property.propertyCost, { unit: "£"})%></td>
      </tr>
      <tr>
        <th>Current Monthly Rent</th>
        <td><%=number_to_currency(@property.propertyRent, { unit: "£"})%></td>
      </tr>
      <tr class="success">
        <th>Net Yearly Return</th>
        <td><%=number_to_currency(@property.year_return, { unit: "£"})%></td>
      </tr>
      <tr >
        <th>Net Yearly Return (Percent)</th>
        <td><%=(@property.year_return_percent).round(2)%>%</td>
      </tr>
    </tbody>
  		
  	</table>

  </div>

</div>
<div class="row">



    <div class="content"></div>

  </div>

</div>

